# Port de l'API
PORT=3000

# URI de connexion MongoDB
MONGODB_URI=mongodb://localhost:27017

# Nom de la base de données
MONGODB_DB_NAME=bd_pleasantstay

# Origines autorisées pour CORS (séparées par des virgules)
CORS_ORIGIN=http://localhost:4200,http://localhost:3000
